language: node_js
node_js:
- 7

before_install:
- yarn

script:
- yarn lint
- yarn build

deploy:
  provider: s3
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key: $AWS_SECRET_KEY
  bucket: "aws-website-timetracker-wu0qbr"
  skip_cleanup: true
  local_dir: build
  region: "eu-west-1"
  acl: public_read
